body {
  margin-left: .5em;
  margin-right: .5em;
  text-align: justify;
}
p {
  font-family: serif;
  font-size: 10pt;
  text-align: justify;
  text-indent: 1em;
  margin-top: 0px;
  margin-bottom: 1ex;
}
h1, h2 {
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
  background-color: #6b879c;
  color: white;
  width: 100%;
}
h1 {
  margin-bottom: 2px;
}
h2 {
  margin-top: -2px;
  margin-bottom: 2px;
}
table {
  border-collapse: collapse;
}
table, tr, th, td {
  border: 1px solid black;
}
